/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
	background: url("stars.jpg")no-repeat center center fixed;
	background-size: 100%;
	color: white;
}

#main_h1 {
	font-family: 'Black Ops One', cursive;
	text-align: center;
	font-size: 60px;
  color: black;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #11e3ff, 0 0 70px #11e3ff, 0 0 80px #11e3ff, 0 0 100px #11e3ff, 0 0 150px #11e3ff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #11e3ff, 0 0 35px #11e3ff, 0 0 40px #11e3ff, 0 0 50px #11e3ff, 0 0 75px #11e3ff;
  }
}


/* Content Styling*/

#style_h2 {
	color: red;
	font-family: 'Audiowide', cursive;
	text-shadow: 1px 1px black;
	margin-bottom: 4px;
	animation: glow 1.5s infinite alternate;
}
/* Navbar*/

#sse50 
{
    border: solid 1px #39F;
    background:#336699 url(mb50_1_bg.gif) repeat-x;
    padding:0px;/*changing its value will give menu margins to its container*/
    text-align:center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#sses50
{
    margin:0 auto;/*If you don't want the menu center aligned, remove this line and above text-align:center*/
    font-size:0;
} 
        
#sses50 ul, #sses50 li
{
    display: inline;
    list-style-type: none;padding: 0;margin: 0;border:0;background-image:none;
}
        
#sses50 a
{
    text-align: center;
    display: inline-block;
    font: normal 12px Arial;
    background: url('mb50_1.gif') no-repeat left top;
    padding: 10px 20px;/*This defines the size of each menu item*/
    color: yellow;
    text-decoration: none;
}
        
#sses50 a:hover, #sses50 a.current
{
    background-position: 0% -60px;
    color: white;
}
#sses50 a.end
{
    width:2px;
    padding-left:0;padding-right:0;
}