// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#job_placement{
  text-align: left;
}
#ship_placement{
  margin-left: 150px;
}
.page_header{
  text-align: center;
  color: white;
  font-size: 32px;
  text-decoration: underline;
}
.align_job{
  text-align: right;
  margin-right: 35%;
  font-size: 52px;
  margin-top: 23px;
}
label.labelStyle{
  color: white;
}
.fieldStyle{
  font-size: 28px;
}
.buttonJobSave{
	color: black;
	font-size: 38px;
	margin-top: 25px;
  margin: 30px auto;
  text-align: right;
  margin-right: 13%;
	border-radius: 45px;
	border: 4px solid rgba(50,50,100,.8);
}
table, th, td {
    border: 1px solid white;
}
table{
  margin: auto;
}
th{
  text-align: center;
}
.w1 {
  width: 70px;
  text-align: right;
}
.w1a {
  width: 70px;
}
.w2{
  width: 150px;
  text-align: center;
}
.w3{
  width: 80px;
  text-align: center;
}
.w4{
  width: 120px;
  text-align: center;
}
.w5{
  width: 100px;
  text-align: center;
}
.w6{
  width: 130px;
  text-align: center;
}
